@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
    font-family: 'Luckiest Guy';
}

p {
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

header {
    background-image: url('../images/header-background.png');
    color: #FFFFFF;
    align-content: center;
    padding: 25px 25px 50px;
    background-size: cover;
    background-position: 70%;
}

#title-header {
    font-size: 24px;
    margin: 40px 0px 20px 0px;
}

#text-header {
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    height: 54px;
    border-radius: 28px;
    margin: 15px 0px;
    justify-self: center;
    align-content: center;
    justify-items: center;
}

#btn-download {
    background-color: #FFFFFF;
    color: #23272A;
}

#opn-browser {
    background-color: #23272A;
    color: #FFFFFF;
}

main {
    align-content: center;
    justify-items: center;
}

.info-section {
    padding: 20px;
}

#info-2,
#info-4 {
    background-color: #F6F6F6;
    /* background-color: aquamarine; */
}

.img-section {
    /* border: 1px solid black; */
    object-fit: contain;
}

.title-section {
    font-size: 24px;
    padding: 20px 0px;
}

.text-section {
    margin: 0px 0px 20px;
}

footer {
    background-color: #23272A;
    width: 100%;
    height: 134px;
    align-content: center;
    justify-items: center;
}

@media screen and {
    
}